#content-footer{
    @include media(margin-right 0rem 0rem 4rem 4rem 4rem);
    @include media(margin-left 0rem 0rem 4rem 4rem 4rem);
    // margin-right:4rem;
    // margin-left:4rem;
}
#content-footer__wrap1{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}
#content-footer__related-index{
    color:#584235;
    font-size:1.2rem;
    margin-bottom:1rem;
    padding:1rem;
}
#content-footer__related{
    width:calc(100% - 4rem);
    margin:0 2rem;
    margin-top:2rem;
    padding:1.5rem;
    border:1px solid #d4bcad;
}
#content-footer__related-ul{
    padding:1rem;
}
.content-footer__related-ul-li{
    width:100%;
    margin-bottom:0.8rem;
    padding-bottom:0.8rem;
    border-bottom:1px solid #d4bcad;
    // background-color:#f7ede6;
}
.content-footer__related-ul-li:last-child{
    margin-bottom:0;
}
.content-footer__related-ul-li-a{
    color:#584235;
    font-size:1rem;
    line-height:150%;
    text-decoration:none;
    display:flex;
    justify-content:flex-start;
    flex-wrap:nowrap;
    align-items:center;
}
.content-footer__related-ul-li-a-title{
    width:calc(100% - 1rem);
    font-weight:900;
}
.content-footer__related-ul-li-img{
    width:1rem;
    height:1rem;
    margin-right:1rem;
}
.content-footer__related-ul-li-img img{
    width:100%;
    vertical-align:top;
}
