@import "mixin";

header{
    padding:0 1.5rem;
    display:flex;
    justify-content:center;
    #topimg{
        width:100%;
        margin-top:2rem;
        margin-bottom:2rem;
        display:flex;
        justify-content:flex-start;
        #topimg-img{
            @include media(width 50% 50% 30% 20% 20%);
            height:100%;
        }
    }
}
